<h2 class="text-center">Lasts Books</h2>

<div class="row text-center">
    {{#each books}}
    <div class="card col-md-3 my-2">
        <a href="/api/books/view/{{_id}}"> <img src="/public/uploads/{{imageName}}" class="card-img-top"
                alt="Book-Img"></a>
        <div class="card-body text-center">
            <h5 class="card-title">{{title}} - <small>{{author}}</small></h5>
            <p class="card-text">{{description}}</p>
        </div>
    </div>

    {{else}}
    <div class="col-md-5 m-auto">
        <p class="text-muted">There are no books yet...</p>
    </div>
    {{/each}}
</div>